@media only screen and (min-width: 1367px) and (max-width: 1440px){
  body{
    width: 1440px;
  }

  .button{
    width: 327px;
    height: 114px;
    font-size: 72px;
    padding-top: 1vh;
  }

  #secondpage{
    font-size: 10.5vh;
    line-height: 115%;
  }

  #date {
    width: 36vw;
  }

  #jpg1 {
    bottom: 60vh;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px){
  body{
    width: 1366px;
  }

  h3{
    font-size: 120px;
  }

  p{
    font-size: 30px;
  }

  .button{
    width: 327px;
    height: 114px;
    font-size: 72px;
    padding-top: 1vh;
  }

  #buttons{
    top: -1vh;
    right:1.5vw;
  }

  #info, #reset {
    height: 4vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  body{
    width: 1024px;
  }

  h3{
    font-size: 100px;
  }

  .button{
    width: 266px;
    height: 93px;
    font-size: 64px;
  }

  .infowindow{
    width: 40vw;
  }

  #jpg1 {
    bottom: 43vh;
    left: 1vw;
  }

  #jpg4 {
    bottom: 49vh;
  }

  #info, #reset {
    height: 6vw;
  }

  #buttons{
    top: 1vh;
    right:2vw;
  }

  #secondpage{
    margin-top: 2.5vh;
    font-size: 9.5vh;
    line-height: 115.68%;
  }

  #jpg3 {
    right: -80vw;
    bottom: 90vh;
    width: 16vw;
    height: 20vh;
  }

  #date{
    top: - 7vh;
  }

  select, #word10{
    top: -19vh;
  }
}

@media only screen and (min-device-width: 415px) and (max-device-width: 768px) {
  /* iPad */
  body{
    width: 768px;
  }

  h3{
    font-size: 95px;
  }

  #secondpage{
    font-size: 130px;
    line-height: 113%;
    font-weight: 400;
    padding-left: 4%;
    padding-top: 4%;
  }

  .button{
    width: 266px;
    height: 93px;
    font-size: 64px;
  }

  .infowindow{
    width: 70vw;
    left:50%
  }

  footer{
    height: 13%;
  }

  input{
    width: 180%;
    padding-bottom: 5%;
    padding-top: 3%;
  }

  #nameinput2{
    width: 78vh;
    top: -18vw;
    left: 52vw;
  }

  #info, #reset {
    height: 11vh;
  }
  #buttons{
    top: 159vh;
    left:57vh;
    right: -20vw;
  }
  #word1 {
    margin-left: 50%;
  }
  #word3 {
    left: 77vw;
    top: -22vw;
  }
  #word4 {
    top: -22vw;
  }
  #word5 {
    top: -22vw;
  }
  #word7 {
    left: 0vw;
    top: -15vw;
  }
  #word8 {
    top: -36vw;
    left: 73vw;
  }
  #word10 {
    display: block;
    position: absolute;
    top: 140vh;
    left: -14vh;
    width: 1318px;
  }

  #date {
    top: -48vh;
    right: 0vh;
    width: 67vh;
  }

  #jpg1 {
    bottom: 115vh;
    left: 0vw;
    width: 36vw;
    height: 12vh;
  }

  #jpg3 {
    bottom: 139vh;
    right: -112vw;
    width: 41vw;
    height: 20vh;
  }

  #jpg2 {
    top: -18vh;
    width: 171vw;
    height: 11vh;
  }

  #jpg4 {
    bottom: 131vh;
    width: 41vw;
    height: 13vh;
    right: 0;
  }
  select {
    top: -64vh;
    height: 16vh;
    left: 68vh;
    width: 79vw;
  }

  #below {
    height: 17vh;
  }

  #separator3, #separator2  {
    display: none;
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
    /* iPhone */
    body{
      width: 414px;
    }

    h3{
      font-size: 58px;
    }

    p{
    font-size: 20px;
  }

    .button{
      width:237px;
      height: 74px;
      font-size: 58px;
    }

    footer{
      height: 9%;
    }

  .button{
    width:202px;
    height: 64px;
    margin-right: 3%;
    font-size: 48px;
  }


  #signature2 {
    position: absolute;
    top: 13px;
    right:3%
  }

  #below{
    height: 60%;
  }

  .infowindow {
    top: 116vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 8vw;
    font-size: 80px;
    width: 233vw;
    left: 50%;
    height: 167vw;
    border-radius: 120px;
  }
  .ok{
    bottom: 10vh;
    left: 40%;
    width: 16vh;
    height: 12vh;
    font-size: 80px;
    padding-top: 1vh;

  }




  #secondpage{
    font-size:180px;
    margin-left: 70px;
    margin-top:70px;
  }
  #nameinput11, #nameinput12{
    display: block;
    border-radius: 205px;
  }
  #nameinput11{
    padding-bottom: 1vw;
    height: 209px;
    width: 305%;
  }
  #nameinput12{
    padding-bottom: 1vw;
    height: 209px;
    width: 370%;
    background-color: #73BCFF;
    top: 3vh;
  }

  #word1 {
      margin-left: 120vw;
      top:2vh;
    }
    #word2 {
      display: none;
    }

  #nameinput{
    display: none;
  }
  #word4 {
    top: -57vw;
    left:119vw;
  }
  #word5 {
    display: none;
  }
  #nameinput2 {
    width: 141vh;
    padding-bottom: 9vw;
    height: 178px;
    top: -21vh;
    border-radius: 205px;
}
  #word7 {
    top: -54vw;
}
  #word8 {
    top: -54vw;
}

  #date {
    width: 370%;
    padding-bottom: 4vh;
    height: 179px;
    border-radius: 205px;
    top: -59vh;
  }

  select {
    width: 101vh;
    height: 216px;
    border-radius: 205px;
    top: -32vh;
    left:90vw;
  }

  #word10 {
    top: -33vh;
    width: 298vw;
    left: -18vw;
  }

  #buttons {
    top: 302vh;
    right: -114vw;
  }

  #info, #reset {
    height: 170px;;
  }

  #jpg2 {
    top: -11vh;
    width: 298vw;
    height: 18vh;
  }
  #jpg1 {
    display:block;
    bottom: 133vh;
    left: 0vw;
    width: 105vw;
    height: 19vh;
}

  #jpg3 {
    bottom: 192vh;
    right: -192vw;
    width: 102vw;
    height: 36vh;
}

  #jpg4 {
    bottom: 138vh;
    width: 79vw;
    height: 22vh;
  }
}


@media only screen and (max-device-width: 360px){
  /* Android */
  body{
    width: 360px;
  }
  h3{
    font-size: 58px;
  }

  p{
  font-size: 17px;
}

  .button{
    width:237px;
    height: 74px;
    font-size: 58px;
  }

  footer{
    height: 9%;
  }

.button{
  width:202px;
  height: 64px;
  margin-right: 3%;
  font-size: 48px;
}


#signature2 {
  position: absolute;
  top: 13px;
  right:3%
}

#below{
  height: 40%;
}

#secondpage{
  font-size:140px;
  margin-left: 70px;
  margin-top:70px;
}
#nameinput11, #nameinput12{
  display: block;
  border-radius: 205px;
}
#nameinput11{
  padding-bottom: 1vw;
  height: 142px;
  width: 305%;
}
  #nameinput12{
    padding-bottom: 1vw;
    height: 142px;
    width: 370%;
    background-color: #73BCFF;
    top: 3vh;
}

  #word1 {
    margin-left: 120vw;
    top:-1vh;
  }

  #word2 {
    display: none;
  }

#nameinput{
  display: none;
  }

#word4 {
  top: -57vw;
  left:119vw;
  }

#word5 {
  display: none;
  }

#nameinput2 {
  width: 170vh;
  padding-bottom: 9vw;
  height: 142px;
  top: -26vh;
  border-radius: 205px;
  }

#word7 {
  top: -54vw;
  }

#word8 {
  top: -54vw;
  }

#date {
  width:170vh;
  padding-bottom: 4vh;
  height: 142px;
  border-radius: 205px;
  top: -67vh;
  }

select {
  width: 105vh;
  height: 152px;
  border-radius: 183px;
  top: -40vh;
  left: 111vw;
  }

#word10 {
  top: -41vh;
  width: 298vw;
  left: -18vw;
  }

#buttons {
  top: 311vh;
  right: -114vw;
  }

#info, #reset {
  height: 140px;;
  }

.infowindow {
    top: 116vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 8vw;
    font-size: 80px;
    width: 233vw;
    left: 50%;
    height: 167vw;
    border-radius: 120px;
  }

.ok {
    bottom: 8vh;
    left: 40%;
    width: 26vh;
    height: 17vh;
    font-size: 80px;
    padding-top: 1vh;
  }

#jpg2 {
  top: -17vh;
  width: 298vw;
  height: 18vh;
  }

#jpg1 {
  display:block;
  bottom: 145vh;
  left: 0vw;
  width: 105vw;
  height: 19vh;
  }

#jpg3 {
  bottom: 207vh;
  right: -192vw;
  width: 102vw;
  height: 36vh;
  }

#jpg4 {
  bottom: 148vh;
  width: 79vw;
  height: 22vh;
  }
}
